<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../index.css">
    <title>Mi Budget</title>
</head>

<body style="background-color: black;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">AP</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../views/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/mi-budget.html">Financial App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/jhobby.html">Job App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/moon-rover.html">2D Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/contact.html">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div style="padding: 10%; color:beige">
        <p>
            This is a Single Page App that recieves and calculates each users's personal budgets per month. <br />
            Dependencies: axios, bootstrap, react, cookie-parser, express-session, to name a few.

        </p>
    </div>

    <div class="container container-two">
        <a class="fs-1 text-decoration-none link-secondary text-center" href="https://mi-budget.netlify.app/"> <span> Mi
                Budget </span></a>
        <div class="photo-container photo-container-two">

            <div id="carousel-mi-budget" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel-mi-budget" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel-mi-budget" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel-mi-budget" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carousel-mi-budget" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img class="screenshots d-block w-100" src="../images/mi-budget-1.png"
                            alt="mi-budget-landing-page">
                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>First slide label</h5> -->
                            <!-- <p>Some representative placeholder content for the first slide.</p> -->
                        </div>
                    </div>

                    <div class="carousel-item " data-bs-interval="10000">
                        <img class="screenshots d-block w-100" src="../images/mi-.png" alt="mi-budget-form-screenshot">

                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>First slide label</h5> -->
                            <!-- <p>Some representative placeholder content for the first slide.</p> -->
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img class="screenshots d-block w-100" src="../images/mi-budget-3.png" alt="mi-budget-table">

                        <div class="carousel-caption d-none d-md-block">
                            <!-- <h5>Second slide label</h5> -->
                            <!-- <p>Some representative placeholder content for the second slide.</p> -->
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img class="screenshots d-block w-100" src="../images/mi-budget-4.png" alt="mi-budget-table">

                        <div class="../images/carousel-caption d-none d-md-block">
                            <!-- <h5>Second slide label</h5> -->
                            <!-- <p>Some representative placeholder content for the second slide.</p> -->
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-mi-budget"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-mi-budget"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div>
            <a href="https://mi-budget.netlify.app/">visit website</a>
            <br />
            <a href="https://github.com/Praa199/mi-budget-client">visit repository</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>